@import "../../shared/_variables.scss";

.toggle-switch {
  display: inline-block;
  height: 22.5px;
  position: relative;
  width: 45px;

  &__checkbox {
    height: 0;
    opacity: 0;
    width: 0;
  }

  &__slider {
    background: $slider-background;
    background-color: #2196f3;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &--round {
      border-radius: 22px;

      &::before {
        border-radius: 50%;
      }
    }

    &::before {
      background-color: white;
      bottom: 3px;
      content: "";
      height: 16px;
      left: 2px;
      position: absolute;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      width: 16px;
    }
  }
}

.toggle-switch__checkbox:checked + .toggle-switch__slider::before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}
