@import '../../shared/variables.scss';

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22.5px;

    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider {
        background-color: #2196F3;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $slider-background;
        -webkit-transition: .4s;
        transition: .4s;

        &--round {
            border-radius: 22px;

            &::before {
                border-radius: 50%;
            }
        }

        &::before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

  }
  
  .toggle-switch__checkbox:checked + .toggle-switch__slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }
