<div class="dashboard-card-container dashboard-card-container{{ colorClass }}">
    <div class="dashboard-card-social-network">
        <img class="dashboard-card-social-network-icon" src="{{ iconLink }}" alt="">
        <p class="dashboard-card-social-network-username">{{ username }}</p>
    </div>
    <div class="dashoard-card-followers">
        <p class="dashboard-card-followers-number">{{ followersNumber }}</p>
        <p class="dashboard-card-followers-title">FOLLOWERS</p>
    </div>
    <div class="dashboard-card-status">
        <img class="dashboard-card-status-icon" src="{{ statusIconLink }}" alt="">
        <p class="dashboard-card-status-title">{{ progressIcon }} {{ numberOfFolowers }} Today</p>
    </div>
</div>