@import "../shared/_variables.scss";

.dashboard-wrapper {
  max-width: $page-width;
  position: relative;
  width: 100%;

  &::before {
    background-color: $background-very-light-grey;
    content: "";
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.dashboard-info {
  &-container {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    margin: 0 auto;
    max-width: $wrapper-width;
    padding-top: 40px;
  }

  &__titles {
    margin-left: 12px;

    &-main {
      font-size: 26px;
      font-weight: 800;
    }

    &-info {
      color: $dark-grey;
      font-size: 12px;
      font-weight: 800;
      letter-spacing: 0.5px;
      margin-bottom: 30px;
      margin-top: -15px;
    }
  }

  &__control {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 10px;

    &-title {
      color: $light-grey;
      font-size: 12px;
      font-weight: 800;
      margin-right: 10px;
    }
  }
}

.dashboard-top-container {
  @include flex-center();
  @include wrapper-margin-width();

  flex-wrap: wrap;
}

.dashboard-main {
  &-container {
    @include wrapper-margin-width();
  }

  &__title {
    color: $dark-grey;
    font-family: $montserrat;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-top: 20px;
  }
}

.dashboard-today-container {
  @include flex-center();
  @include wrapper-margin-width();

  flex-direction: row;
  flex-wrap: wrap;
}
