<div class="dashboard-wrapper">
  <div class="dashboard-info-container">
    <div class="dashboard-info__titles">
      <h1 class="dashboard-info__titles-main">Social Media Dashboard</h1>
      <p class="dashboard-info__titles-info">Total Followers: 23,004</p>
    </div>
    <div class="dashboard-info__control">
      <p class="dashboard-info__control-title">Dark Mode</p>
      <app-toggle-slider></app-toggle-slider>
    </div>
  </div>

  <div class="dashboard-top-container">
    <app-dashboard-card-big colorClass="facebook" iconLink="../../assets/images/icon-facebook.svg" username="@nathanf"
      followersNumber="1987" followersNumberToday="12" statusIconLink="../../assets/images/icon-up.svg"
      statusColor="green">
    </app-dashboard-card-big>

    <app-dashboard-card-big colorClass="twitter" iconLink="../../assets/images/icon-twitter.svg" username="@nathanf"
      followersNumber="1044" followersNumberToday="99" statusIconLink="../../assets/images/icon-up.svg"
      statusColor="green">
    </app-dashboard-card-big>

    <app-dashboard-card-big colorClass="insta" iconLink="../../assets/images/icon-instagram.svg" username="@realnathanf"
      followersNumber="11k" followersNumberToday="1099" statusIconLink="../../assets/images/icon-up.svg"
      statusColor="green">
    </app-dashboard-card-big>

    <app-dashboard-card-big colorClass="youtube" iconLink="../../assets/images/icon-youtube.svg" username="Nathan F."
      followersNumber="8239" followersNumberToday="12" statusIconLink="../../assets/images/icon-down.svg"
      statusColor="red">
    </app-dashboard-card-big>
  </div>

  <!-- suukurti atskira dali today -->

  <app-dashboard-card-small cardTitle="Page Views" iconLink="../../assets/images/icon-facebook.svg" followersNumber="87"
    statusIconLink="../../assets/images/icon-up.svg" statusColor="green" followersPercentage="3">
  </app-dashboard-card-small>

</div>